@charset "utf-8";

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500;700&display=swap');
    /* font-family: 'Noto Sans KR', DelaGothicOne-Regular */
@font-face {
    font-family: 'DelaGothicOne-Regular';
    src: url(../font/Dela_Gothic_One/DelaGothicOne-Regular.ttf);
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url(../font/Noto_Sans_KR/NotoSansKR-Black.otf);
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url(../font/Noto_Sans_KR/NotoSansKR-Bold.otf);
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url(../font/Noto_Sans_KR/NotoSansKR-Light.otf);
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url(../font/Noto_Sans_KR/NotoSansKR-Medium.otf);
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url(../font/Noto_Sans_KR/NotoSansKR-Regular.otf);
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url(../font/Noto_Sans_KR/NotoSansKR-Thin.otf);
}

/* Common */
body {font-family: 'Open Sans','Noto Sans KR', 'DelaGothicOne-Regular', 'Malgun Gothic', sans-serif;font-size: 14px;border: 1px solid #f4f4f4;}
.container {width: 70%;margin: auto;}
.container::after {content: "";display: block;clear: both;}
.blind {display: block;width: 0;height: 0;overflow: hidden;}

/* Skip Nav */
#skip_nav a {
    display: block;position: absolute;left: 50%;top: -30%;transform: translateX(-50%);background: #000;color: #FFF;font-size: 14px;padding: 0 20px;line-height: 30px;
}
#skip_nav a:focus {top: 0;}

/* Default */

/* Header */
#header {position: relative;z-index: 999;text-align: center;height: 45px;}
.inner_header {width: 90%;margin: auto;}
#header h1 {position: absolute;display: inline-block;margin: 2px 0;left: 0;}
#header h1 a {display: block;width: 120px;height: 40px;background: url(../img/img_logo_header.gif) no-repeat;}

#header #gnb {display: inline-block;}
#header #gnb>li {display: inline-block;margin: 0 30px;}
#header #gnb>li>a {font-size: 15px;font-weight: bold;line-height: 20px;text-decoration: none;color: #0a0a0a;}

#header .lang {display: inline-block;position: absolute;right: 0;padding: 2px 4px;margin-top: 12px;font-size: 10px;background: #0a0a0a;line-height: 20px;font-weight: normal;}
#header .lang a {color: #f4f4f4;text-decoration: none;}

/* Main */
#main {border: 1px solid #000;}

/* visual_wrap */
.visual_wrap {}
.visual_slider {overflow: hidden;position: relative;}
.visual_slider .visual_slide {display: block;width: 100vw;height: 800px;background: url(../img/main.jpg) no-repeat;background-size: 120% auto;}

.visual_slider .slide_controls {}
.visual_slider .slide_controls button {position: absolute;top: calc(50% - 50px);width: 20px;height: 64px;cursor: pointer;border: none;}
.visual_slider .slide_controls button.prev_btn {left: 50px;background: url(../img/prev.png) no-repeat;background-size: 20px auto;}
.visual_slider .slide_controls button.next_btn {right: 50px;background: url(../img/next.png) no-repeat;background-size: 20px auto;}

.visual_slider .slide_controls_bar {display: inline-block;position: relative;left: 50%;bottom: 30px;transform: translateX(-50%);}
.visual_slider .slide_controls_bar button {margin: 0 20px; width: 30px;height: 7px;border-radius: 30%;background: #FFF;cursor: pointer;}
.visual_slider .slide_controls_bar button:hover {background: blue;}

/* business_wrap */
.business_wrap {margin: 200px auto;}
.business_wrap h2 {position: relative;height: 28px;bottom: 20px;}
.business_wrap h2 a {
    display: inline-block;position: absolute;width: 80px;height: 28px;
    background: url(../img/img_logo_header.gif) no-repeat;background-size: 80px auto;
}
.business_wrap h2 p {display: inline-block;position: absolute;left: 83px;bottom: -18px;font-size: 18px;}

.business_wrap ul {height: 600px;}
.business_wrap li {
    float: left;width: 350px;height: 350px;position: relative;background-size: cover;
    background-position: center;background-repeat: no-repeat;overflow: hidden;margin-top: 130px;margin-right: 20px;
}
.business_wrap li:nth-child(1) {background-image: url(../img/subway.jpg);margin-left: 10px;}
.business_wrap li:nth-child(2) {background-image: url(../img/tank.jpg);}
.business_wrap li:nth-child(3) {background-image: url(../img/environment-care.jpg);margin-right: 0;}

.business_wrap li a {display: block;position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.5);transition: all 0.7s;}
.business_wrap li a:hover {background: none;}

.business_wrap li a .bsn_txt {position: absolute;left: 50%;transform: translateX(-50%);top: 150px;color: #FFF;font-size: 18px;}

/* content_wrap */
.content_wrap {margin: 200px auto;position: relative;height: 800px;}
.content_wrap h2 {position: relative;height: 28px;bottom: 20px;}
.content_wrap h2 a {
    display: inline-block;position: absolute;width: 80px;height: 28px;
    background: url(../img/img_logo_header.gif) no-repeat;background-size: 80px auto;
}
.content_wrap h2 p {display: inline-block;position: absolute;left: 83px;bottom: -18px;font-size: 18px;}

.content_wrap ul {height: 730px;}
.content_wrap li {height: 360px;overflow: hidden;}
.content_wrap li span.cont1 {display: block;width: 500px;height: 400px;background: url(../img/content_box1.png.png) no-repeat;}
.content_wrap li span.cont2 {display: block;width: 500px;height: 350px;background: url(../img/content_box2.jpg) no-repeat;background-size: 105% auto;}
/*
.content_wrap li:nth-child(1) {border: 1px solid blue;background-image: url(../img/content_box1.jpg);background-repeat: no-repeat;}
.content_wrap li:nth-child(2) {border: 1px solid green;background-image: url(../img/content_box2.jpg);background-repeat: no-repeat;}
*/
.content_wrap li .cont_txt {display: block;position: absolute;right: 20px;width: 600px;height: 300px;text-decoration: none;}
.content_wrap li:nth-child(1) .cont_txt {top: 70px;}
.content_wrap li:nth-child(2) .cont_txt {top: 430px;}

.content_wrap li .cont_txt strong {font-size: 20px;}
.content_wrap li .cont_txt p {font-size: 18px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.content_wrap li .cont_txt span {font-size: 15px;}

.content_wrap>a {position: absolute;right: 5px;top: 10px;font-size: 16px;}
.content_wrap>a::after {content: "+";display: inline-block;color: #000;font-size: 25px;transform: translate(5px, 4px);}

.content_wrap li a {}


/* webjin_wrap */
.webjin_wrap {border: 1px solid #000;margin: 200px auto;}

/* recruit */
.recruit {border: 1px solid #000;margin: 200px auto;}
.recruit h2 {border: 1px solid red;position: relative;height: 28px;bottom: 20px;}
.recruit h2 a {
    display: inline-block;position: absolute;width: 80px;height: 28px;
    background: url(../img/img_logo_header.gif) no-repeat;background-size: 80px auto;border: 1px solid #000;
}
.recruit h2 p {display: inline-block;position: absolute;left: 83px;bottom: -18px;font-size: 18px;border: 1px solid #000;}

/* Footer */

/* PC */
@media screen and (min-width: 1200px){
    
}

/* Mobile */
@media screen and (max-width: 550px) {
    
}
